nav {
  background-image: url("file:///Users/LanaAlexis/Documents/Projects/Broadway/resources/the-flatiron-building.png")
}
h1 {
  text-align: center;
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
a,
div {
  text-align: center;
  font-family: Helvetica;
  text-align: center;
  font-size: 18px;
  color: white;
}
h2 {
  text-align: center;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
   color: black;
}
p {
  font-family: Helvetica;
  font-size: 14px;
  color: black;
}
